{% block members %}
    <h2>Best members</h2>
    <div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="#">Dr.Pepper</a></li>
            <li class="list-group-item"><a href="#">CuteCat</a></li>
            <li class="list-group-item"><a href="#">SomeMember</a></li>
            <li class="list-group-item"><a href="#">Mr.Durov</a></li>
            <li class="list-group-item"><a href="#">Donald J. Trump</a></li>
        </ul>
    </div>
{% endblock %}