{% block navbar %}
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="col-2 me-0 d-flex">
                <a class="navbar-brand mx-auto" href="{% url 'index' %}">AskMe</a>
            </div>
            <form class="d-flex col-6 justify-content-center">
                <input class="form-control d-flex" type="search" placeholder="Search" aria-label="Search">
            </form>
            <a class="btn btn-outline-success col-1" type="submit" href="{% url 'ask' %}">Ask</a>
            <div class="d-flex gap-3 col-2 justify-content-end align-items-center" id="profile-info">
                <a class="btn btn-primary col" type="submit" href="{% url 'ask' %}">Log In</a>
                <a class="btn btn-outline-secondary col" type="submit" href="{% url 'ask' %}">Sign Up</a>
            </div>
        </div>
    </nav>
{% endblock %}