{% load custom_filters %}
{% block questionCard %}
    <div class="card m-0 p-3" style="max-width: 1440px;">
        <div class="row g-2 align-items-top m-0">
            <div class="col-auto text-center m-0 p-0">
                <div class="m-0 mb-1" style="width: 96px; height: 96px;">
                    <img src="https://api.slingacademy.com/public/sample-photos/1.jpeg" alt="User picture" class="img-fluid rounded-circle" style="width: 100%; height: 100%; object-fit: cover">
                </div>
                <div class="my-3 mt-1 mx-auto" style="max-width: 96px">
                    <p class="text-truncate" style="font-size: x-small"><a href="#">@{{ question.author }}</a></p>
               </div>
                <div class="my-3 mx-1">
                    <input type="number" value="{{ question.upvotes }}" class="form-control form-control-sm text-center" style="width: 96px;">
                </div>
            </div>
            <div class="col d-flex flex-column m-0 p-0">
                <div class="card-body p-0 d-flex flex-column flex-grow-1 m-3">
                    <h5 class="card-title mb-1">
                        <a href="{% url 'question' question.id %}">{{ question.title }}</a>
                    </h5>
                    <p class="card-text mb-1">{{ question.text }}</p>
                    <div class="mt-auto">
                        <a href="{% url 'question' question.id %}#answer">answer ({{ question.replies }})</a>
                        <span>&nbsp;|&nbsp;</span>
                        {% for tag in question.tags %}
                            <a class="text-decoration-none" href="{% url 'tagged' tag %}">
                                <span class="badge rounded-pill" 
                                      style="background-color: {{ tag|string_to_hex_color_filter }};
                                              color: {{ tag|get_contrast_color_filter }}"
                                >{{ tag }}</span>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}