{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
    <div class="row d-flex mb-5 align-items-center">
        <div class="col d-flex gap-3 align-items-center">
            <h2>Ask a question</h2>
        </div>
    </div>
    <div class="row d-flex mb-5 gap-5 w-75 justify-content-center">
        <div class="row">
            <div class="col-auto">
                <span class="input-group-text" id="title-input">Title</span>
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="What is your question about?" aria-label="Title">
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <span class="input-group-text">Text</span>
            </div>
            <div class="col">
                <textarea class="form-control" aria-label="Text" rows="15"></textarea>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-auto">
                <span class="input-group-text" id="tags-input">Tags</span>
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Enter tags" aria-label="Tags">
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-success">Ask</button>
{% endblock %}