{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
    <div class="row d-flex mb-3 align-items-center">
        <div class="col d-flex gap-3 align-items-center">
            <h2>Hot questions</h2>
            <a href="{% url 'index' %}">New questions</a>
        </div>
    </div>
    <div class="row gap-3">
        {% for question in questions %}
            {% include 'layouts/question_card.html' with question=question %}
        {% endfor %}
    </div>
    {% block paginator %}
        {% include 'layouts/paginator.html' %}
    {% endblock %}
{% endblock %}