{% extends 'layouts/base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block navbar %}
{% include 'layouts/navbar_unauthorized.html' %}
{% endblock %}
{% block content %}
    <div class="row d-flex mb-5 align-items-center">
        <div class="col d-flex gap-3 align-items-center">
            <h2>Register</h2>
        </div>
    </div>
    <div class="row d-flex mb-5 gap-5 w-75 justify-content-center">
        {% bootstrap_form_errors user_form %}
        {% bootstrap_form_errors profile_form %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-3">
                    <span class="input-group-text" id="title-input">Nickname</span>
                </div>
                <div class="col">
                    {{ profile_form.nickname }}
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <span class="input-group-text">Email</span>
                </div>
                <div class="col">
                    {{ user_form.email }}
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <span class="input-group-text" id="tags-input">Login</span>
                </div>
                <div class="col">
                    {{ user_form.username }}
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <span class="input-group-text" id="tags-input">Avatar</span>
                </div>
                <div class="col justify-content-center">
                    <p class="form-control d-inline">{{ form.avatar.value }}</p>
                    {{ profile_form.avatar }}
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <span class="input-group-text" id="tags-input">Password</span>
                </div>
                <div class="col">
                    {{ user_form.password }}
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <span class="input-group-text" id="tags-input">Repeat password</span>
                </div>
                <div class="col">
                    {{ user_form.password_confirm }}
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-3"></div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-success">Register</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}